[Unit]
Description=Add the primary user to Docker and VirtualBox groups
After=systemd-sysusers.service systemd-user-sessions.service
Before=docker.socket docker.service vboxdrv.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-configure-primary-user-groups

[Install]
WantedBy=multi-user.target
